.container__form{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */

    width: 90%;
    max-width: 600px;
    margin: auto;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    position: fixed;
    background-color: rgb(53, 161, 239);
    z-index: 5000;
  }

  .div__container{
    margin-bottom: 10px;
  }

  .input__add{
    font-size:10px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:rgb(53, 161, 239);
    background:#ffffff;
    border:0px;
    width:80px;
    height:19px;
    margin-bottom: 10px;
  }

  .close__button{
    font-size:20px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:rgb(255, 255, 255);
    background:#ffffff00;
    border:0px;
    width:80px;
    height:19px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
  }